<h1>Create new account</h1>

<%= form_for @employee do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :manager_id %>
  <%= f.collection_select(:manager_id, @list_of_managers, :id, :name, :include_blank => true) %><br>

  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>


  <%= f.submit %>
<% end %>
