<h1><%= @employee.name %></h1>

<% if @employee.manager_id != nil %>
Manager: <%= @employee.find_manager_name %>
<% end %>

<% if @employee.list_managers_employees.count != 0 %>
  <h3>Subordinates:</h3>
    <ul>
      <% @employee.list_managers_employees.each do |employee| %>
        <li><%= link_to employee.name, employee %></li>
      <% end %>

    </ul>
    <% end %>


<% if @employee.projects.count != 0 %>
  <h3>Projects:</h3>
    <!--  add something to say no tickets present -->
    <ul>
    <% @employee.projects.each do |project| %>
      <h4><%= link_to project.name, project %>:</h4>
          <p>Open tickets:</p>
      <ul>
        <% project.sort_tickets.each do |ticket| %>
          <% if !ticket.complete %>
            <li> <%= link_to ticket.name, ticket %> is due on <%= ticket.due_date.strftime("%m/%d/%Y") %></li> <br>
          <% end %>
        <% end %>
      </ul>

    <% end %>
<% end %>
