    <h1 style="text-align: center; font-size: 78px;">Analytics</h1>

      <div class="analytics-container">

        <div class="horitzontal-totals">

          <div class="employee-total">
            <h1 class="total-num"><%= @employees.count %></h1>
            <p class="total-num-caption">Employees</p>
          </div>

          <div class="project-total">
            <h1 class="total-num"><%= @projects.count %></h1>
            <p class="total-num-caption">Projects</p>
          </div>

          <div class="ticket-total">
            <h1 class="total-num"><%= @tickets.count %></h1>
            <p class="total-num-caption">Tickets</p>
          </div>

        </div>


        <div class="flex-detailed-list">
          <div class="detailed-lists">

            <div class="ticket-complete-list">
            <h3><u>Completed tickets by employee:</u></h3>


            <% @employees.each do |employee| %>
            <% @ticket_count = Ticket.all.where(employee_id: employee.id, complete: true).count  %>
            <% if @ticket_count > 0 %>
             <%=  "#{employee.name} - #{@ticket_count}" %> <br>
             <% end %>

              <% end %>
            </div>

            <div class="percent-complete-list">
            <h3><u>Project Percentage Complete:</u></h3>


            <% @projects.each do |project| %>
              <% if project.count_tickets == 0 %>
              <%= "#{project.name.titleize} doesn't have any tickets yet!" %>
                <%= link_to "Click here to add a ticket!", new_ticket_path %><br>

              <% else %>
              <%= "#{project.name.titleize} - #{project.percentage_complete.round(2)}%" %> <br>
              <% end %>
            <% end %>
            </div>

              </div>
        </div>
      </div>
