<h1>Analytics Page</h1>

  <div class="analytics-container">

    <div class="totals-list">
      <h3>Totals:</h3>
      <h3 class="subhead">Employees: <%= @employees.count %></h3>

      <h3 class="subhead">Projects: <%= @projects.count %></h3>

      <h3 class="subhead">Tickets: <%= @tickets.count %></h3>
    </div>


    <div class="ticket-complete-list">
    <h3>Completed tickets by employee:</h3>


    <% @employees.each do |employee| %>
    <% @ticket_count = Ticket.all.where(employee_id: employee.id, complete: true).count  %>
    <% if @ticket_count > 0 %>
     <%=  "#{employee.name} - #{@ticket_count}" %> <br>
     <% end %>

      <% end %>
    </div>

    <div class="percent-complete-list">
    <h3>Project Percentage Complete:</h3>


    <% @projects.each do |project| %>
      <% if project.count_tickets == 0 %>
      <%= "#{project.name.titleize} doesn't have any tickets yet!" %>
        <%= link_to "Click here to add a ticket!", new_ticket_path %><br>

      <% else %>
      <%= "#{project.name.titleize} - #{project.percentage_complete.round(2)}%" %> <br>
      <% end %>
    <% end %>
    </div>



  </div>
