<h1 class="page-headline">Ticket Name: <%= @ticket.name.titleize %></h1>
<h3 class="page-subhead">Assigned Employee:
  <a href="<%= employee_path(@ticket.employee) %>"><%= @ticket.find_assigned_employee %></a> </h3>

<h3 class="list-head"><%= @ticket.description %></h3>
<h3 class="list-head">Due Date: <%= @ticket.due_date.strftime("%m/%d/%Y") %></h3>
<h3 class="list-head">Status: <%= @ticket.is_ticket_complete? %></h3>

<button class="ui button"><a href="<%= edit_ticket_path %>">Edit this ticket</a></button><br><br>

<button class="ui button"><a href="<%=tickets_path %>">Return to tickets page</a></button><br><br>

<button class="ui button"><a href="<%= project_path(@ticket.project) %>">Return to project page </a></button>
