<div class="ui form">

<%= form_for @project do |f| %>
  <%= f.label :name %>
  <div class="field simple-field">
  <%= f.text_field :name %><br>
  </div>

  <%= f.label :description %>
  <div class="field">
  <%= f.text_area :description %><br>
  </div>


  <%= f.submit "Submit", :class => "ui button" %>
<% end %>
</div>
