<!DOCTYPE html>
<html>
  <head>
    <title>Ticketing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Quicksand|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="./stylesheet/login.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="google" content="notranslate" />
  </head>

  <body>
    <div class="body">

    </div>
    <header>

      <div class="ui menu">
        <a href="#" class="item">TICKETING SYSTEM</a>


        <a href="<%= employees_path %>" class="item">Employees</a>
        <a href="<%= projects_path %>" class="item">Projects</a>
        <a href="<%= new_ticket_path %>" class="item">New Ticket</a>
        <a href="<%= analytics_path %>" class="item">Analytics</a>

        <div class="right menu">

          <% if logged_in? %>
            <a href="<%= employee_path(logged_in_employee) %>" class="item"><%= logged_in_employee.name %></a>

            <button class="ui button">
              <%= link_to "Logout", destroy_session_path, method: :delete %>
            </button>
          <% else %>
            <a href="<%= new_employee_path %>" class="item">Register</a>
            <a href="<%= new_session_path %>" class="item">Login</a>
          <% end %>

        </div>
      </div>

      <div id="content-area">
          <main><%= yield %></main>
      </div>





    </div>
  </body>
  <!-- <footer>
    <div class="footer">
      Created by: <br>
      <a href="https://github.com/kaleflatbread">kaleflatbread</a><br>
      <a href="https://github.com/mattzuzolo">mattzuzolo</a>
    </div>
    </footer> -->

    <footer class="footer">
      <div class="footer-content" style="text-align:right">
        Created by: <br>
        <a href="https://github.com/kaleflatbread">kaleflatbread</a><br>
        <a href="https://github.com/mattzuzolo">mattzuzolo</a>
      </div></footer>
</html>
